<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head> 
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta> 
  <title>Music Demo</title> 
  <link rel="stylesheet" href="${url('/media/jquery.mobile-1.4.0.css')}" type="text/css" />
  <script type="text/javascript" src="${url('/media/jquery-1.11.0.js')}"></script>
  <script type="text/javascript">
    $(document).on("mobileinit", function() {
      $.mobile.toolbar.prototype.options.addBackBtn = true;
      $.mobile.page.prototype.options.theme = "b";
      // this causes the pagebeforeshow to not fire ??
      //$.mobile.defaultPageTransition = "flip";
  });
  </script>
  <script type="text/javascript" src="${url('/media/jquery.mobile-1.4.0.js')}"></script>
  <style media="screen" type="text/css">

input.ui-slider-input {display: none;}
.center-wrapper{
    text-align: center;
}
.center-wrapper * {
    margin: 0 auto;
}

  </style>
</head> 

<body> 
  <div data-role="page" data-add-back-btn="true">
    <div data-role="header" data-position="fixed">
      <h1>${artist} - ${songTitle}</h1>
      <a href="${url('/index/')}" data-icon="home" class="ui-btn-right">Home</a>
    </div><!-- /header -->

    <div class="center-wrapper">
      <p>&nbsp;</p>
      <input type="button" id="song_${songId}" value="Play" data-inline="true" class="play"/>
      <p>&nbsp;</p>
    </div>
    <div class="center-wrapper">
      <a href="#" data-role="button" data-inline="true">Append to Current Playlist</a> 
      <p>&nbsp;</p>
    </div>
    <div class="center-wrapper">
      <a href="#" data-role="button" data-inline="true">Add to Playlist</a> 
      <p>&nbsp;</p>
    </div>

    <xi:include href="_controls.html" />

  <script type="text/javascript" src="${url('/media/boojplayer.js')}"></script>
  <script type="text/javascript">
    $('.play').bind('click', function(event, ui) {
      console.log('was clicked for song ' + this.id.substring(5) );
      var postdata = { };  // post the form values via ajax
      // this needs to just start the song from the beginning
      $.post("${url('/song/%s/' % songId)}", postdata, function(data) {
        console.log('POST success function' );
        updateControls();
      });
      return true;
    });
  </script>

  </div><!-- /page -->
  <script type="text/javascript">
  $( document ).ready(function() {
  $( 'button' ).click(function() {
      console.log( 'cgeneric console ...');
  /*
    var postdata = { };  // post the form values via ajax
    // this should be some 'current song' identifier instead
    // also; keep the play/stop state tied to the ... button text?
    $.post("${url('/song/%s/' % songId)}", postdata, function(data) {
      updateControls();
    });
  */
  });
  });
  </script>
</body>
</html>
