<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:py="http://genshi.edgewall.org/">
<head> 
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta> 
  <title>Music Demo</title> 
  <link rel="stylesheet" href="${url('/media/jquery.mobile-1.4.0.css')}" type="text/css" />
  <script type="text/javascript" src="${url('/media/jquery-1.11.0.js')}"></script>
  <script type="text/javascript">
    $(document).on("mobileinit", function() {
      $.mobile.toolbar.prototype.options.addBackBtn = true;
      $.mobile.page.prototype.options.theme = "b";
      // this causes the pagebeforeshow to not fire ??
      //$.mobile.defaultPageTransition = "flip";
  });
  </script>
  <script type="text/javascript" src="${url('/media/jquery.mobile-1.4.0.js')}"></script>
  <style media="screen" type="text/css">

input.ui-slider-input {display: none;}
.center-wrapper{
    text-align: center;
}
.center-wrapper * {
    margin: 0 auto;
}

  </style>
</head> 

<body> 
  <div data-role="page" data-add-back-btn="true">
    <div data-role="header" data-position="fixed">
      <h1>${artist} - ${songTitle}</h1>
      <a href="${url('/index/')}" data-icon="home" class="ui-btn-right">Home</a>
    </div><!-- /header -->

    <div class="center-wrapper">
      <p>&nbsp;</p>
      <input type="button" id="song_${songId}" value="Play" data-inline="true" class="play"/>
      <p>&nbsp;</p>
    </div>
    <div class="center-wrapper">
      <a href="#" data-role="button" data-inline="true">Append to Current Playlist</a> 
      <p>&nbsp;</p>
    </div>
    <div class="center-wrapper">
      <a href="#" data-role="button" data-inline="true">Add to Playlist</a> 
      <p>&nbsp;</p>
    </div>

    <xi:include href="_controls.html" />

  <script type="text/javascript">
    $('.play').bind('click', function(event, ui) {
      console.log('was clicked for song ' + this.id.substring(5) );
      // empty post data means just start the song from the beginning
      var postdata = { };  // post the form values via ajax
      $.post("${url('/song/%s/' % songId)}", postdata, function(data) {
        console.log('POST success function' );
        $("input[type='range']").val(90).slider("refresh");
        playbutton = $('button#playbutton.ctrls');
        playbutton.text('Stop');
        playbutton.removeClass('ui-icon-arrow-r').addClass('ui-icon-delete');
        if (playbutton.length > 0) {
          //playbutton.button();   //guess we might not need this?
          console.log('Refreshed playbutton because it was there' );
        } else {
          console.log('button#playbutton.ctrls not initialized?' );
        }
      });
      return true;
    });
    $('button#playbutton.ctrls').bind('click', function(event, ui) {
      console.log('playbutton was clicked');
      if ($(this).text() == 'Stop')
      {
         console.log('set playing to true');
         var postdata = 'playing=true';  // post the form values via ajax
      }
      else
      {
         console.log('set playing to false');
         var postdata = 'playing=false';  // post the form values via ajax
      }
      // this needs to just start the song from the beginning
      $.post("${url('/song/%s/' % songId)}", postdata, function(data) {
        console.log('playbutton POST success function' );
        $("input[type='range']").val(20).slider("refresh");
        playbutton = $('button#playbutton.ctrls');
        var newval = $(data).find('#playbutton');
        console.log("newval: " + newval.text());
        if (newval.text() == 'Play')
        {
            playbutton.text('Play');
            playbutton.removeClass('ui-icon-delete').addClass('ui-icon-arrow-r');
        }
        else
        {
            playbutton.text('Stop');
            playbutton.removeClass('ui-icon-arrow-r').addClass('ui-icon-delete');
        }
      });
      return true;
    });
  </script>

  </div><!-- /page -->
</body>
</html>
